.link.active {

    position: relative;
  }
  
  .link.active::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Adjust as needed */
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5DECBF;
    /* box-shadow: 0 5px 5px rgba(red, green, blue, alpha); */
  }
  .linkF{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .link{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  @keyframes expandWidth {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .link.active::after {
    animation: expandWidth 0.3s ease-out forwards;
  }
.shadow-navbar {
  box-shadow: 0 10px 10px rgba(169, 211, 237, 0.1);
}



  
  