.link.active {
    position: relative;
  }
  
  .link.active::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Adjust as needed */
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5DECBF;
  }
  
  @keyframes expandWidth {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .link.active::after {
    animation: expandWidth 0.3s ease-out forwards;
  }
  
  